<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ALL TRACE DEBUG INFO WARN ERROR OFF -->
    <logger name="com.spotify.docker" level="WARN" />
    <logger name="org.seleniumhq.jetty9" level="WARN" />

    <!-- SET TO DEBUG TO GET STATUS LOGGING -->
    <logger name="de.zalando.ep.zalenium.proxy.AutoStartProxySet.Status" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
